@import "tailwindcss";
@import "./styles/utilities.css";

/* === The Void Theme === */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* The Void */
  --color-void: #050505;
  
  /* The Neons */
  --color-neon-cyan: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #0aff0a;
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
